
body {
    background-image: url(../assets/skynet-progress.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 15%;
}