@import "https://fonts.googleapis.com/css2?family=Oswald&family=Sono&display=swap";
.navbar {
  box-shadow: 2px 1px 5px #000; }
  .navbar .collapse a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px; }
    .navbar .collapse a:hover {
      color: #868c93;
      font-size: 20px; }

.login {
  position: absolute;
  left: 90%;
  min-width: 150px; }

.logo-coderhome {
  width: 80px;
  height: 70px;
  margin: 10px; }
  .logo-coderhome:hover {
    color: white;
    box-shadow: 0 4px 16px orange;
    transition: all 0.2s ease; }

.boton-menu {
  color: white;
  font-size: 46px; }
  .boton-menu:focus {
    outline: none; }
  .boton-menu:hover {
    color: white;
    box-shadow: 0 4px 16px #868c93;
    transition: all 0.2s ease; }

@media (max-width: 1500px) {
  .login {
    left: 85%; } }

@media (max-width: 990px) {
  header {
    position: sticky;
    z-index: 2;
    top: 0px; }
  .login {
    position: relative;
    left: 0;
    margin-top: 8px;
    margin-bottom: 10px; }
    .login img {
      display: none; } }

footer {
  box-shadow: 2px 1px 5px #000;
  position: absolute;
  bottom: 0;
  width: 100%; }

.copyright {
  background-color: #26282b; }

.imagen-inicio {
  background-image: url(../assets/imagen-inicio.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.seccion-inicio {
  margin-top: 6.9rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0rem 0rem;
  grid-auto-flow: column;
  justify-items: center;
  grid-template-areas: "titulo-inicio" "leyenda-inicio" "boton-inicio"; }

.titulo-inicio {
  grid-area: titulo-inicio;
  font-size: 5rem; }

.leyenda-inicio {
  grid-area: leyenda-inicio;
  color: white;
  font-size: 1.75rem;
  text-align: center;
  max-width: 25rem; }

.boton-inicio {
  grid-area: boton-inicio;
  color: white;
  margin-top: 50%;
  font-size: 1.25rem;
  padding: 0.375rem 0.75rem;
  background-color: #6c757d;
  border: 0.1rem solid;
  border-radius: 1.9rem;
  border-color: black;
  cursor: pointer; }
  .boton-inicio:hover {
    color: white;
    box-shadow: 0 0.25rem 1rem #868c93;
    transition: all 0.2s ease; }

@media (max-width: 540px) {
  .titulo-inicio {
    font-size: 3.75rem; }
  .leyenda-inicio {
    font-size: 1.56rem; } }

@media (max-width: 354px) {
  .titulo-inicio {
    font-size: 3.75rem;
    align-self: center; } }

.seccion-quienes-somos {
  margin-top: 60px;
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 0.4fr 2fr;
  gap: 0px 0px;
  grid-template-areas: "imagen titulo" "imagen leyenda";
  margin-bottom: 38px; }

.quienes-somos-titulo {
  grid-area: titulo;
  justify-self: left;
  align-self: center; }

.quienes-somos-leyenda {
  grid-area: leyenda;
  font-size: 18px;
  max-width: 700px;
  padding: 10px 15px;
  color: white;
  border-radius: 24px;
  border: 2px solid #848a90;
  background-color: #828283;
  overflow: auto; }

.quienes-somos-img {
  grid-area: imagen;
  justify-self: center;
  align-self: flex-end;
  border-radius: 24px;
  width: 400px;
  height: 408px;
  border: 2px solid #848a90; }

@media (max-width: 990px) {
  .seccion-quienes-somos {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0.5fr 1fr;
    gap: 30px 0px;
    grid-template-areas: "titulo" "imagen" "leyenda"; }
  .quienes-somos-titulo {
    justify-self: center; }
  .quienes-somos-leyenda {
    margin: 20px;
    justify-self: center;
    align-self: center; } }

@media (max-width: 540px) {
  .quienes-somos-img {
    align-self: center; } }

.adjust-img {
  height: 360px; }

.card-img-actions span {
  filter: invert(50%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #bbbcc3;
  position: relative;
  padding-bottom: 10rem;
  min-height: 100vh; }

h1 {
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif; }

h2 {
  color: white;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif; }

p {
  font-family: "Sono", sans-serif; }

.success-icon {
  font-size: 5rem; }
