.navbar {
	box-shadow: 2px 1px 5px #000;
	.collapse {
			a {
				text-decoration: none;
				color: $text-color;
				font-size: 20px;
				margin-left: 20px;
				&:hover {
					color: $text-color-hover;
					font-size: 20px;
				}
			}
	}
}

.login {
	position:absolute;
	left: 90%;
	min-width: 150px;
}

.logo-coderhome {
	width: 80px;
	height: 70px;
	margin: 10px;
	&:hover {
		color: $text-color;
		box-shadow: 0 4px 16px orange;
		transition: all 0.2s ease;
	}
}

.boton-menu {
	color: $text-color;
	font-size: 46px;
	&:focus {
		outline: none;
	}
	&:hover {
		color: $text-color;
		box-shadow: 0 4px 16px $text-color-hover;
		transition: all 0.2s ease;
	}
}

@media (max-width: 1500px) {
	.login {
		left: 85%;
	}
}

@media (max-width: 990px) {
	header {
		position: sticky;
		z-index: 2;
		top: 0px;
	}

	.login {
		position: relative;
		left: 0;
		margin-top: 8px;
		margin-bottom: 10px;
		img {
			display: none;
		}
	}
}