.imagen-inicio {
	background-image: url(../assets/img-inicio.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0.125rem 0.07rem 0.313rem #000;
	padding-bottom: 9.5rem;
}

.seccion-inicio {
    padding-top: 5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0rem 0rem;
	grid-auto-flow: column;
	justify-items: center;
	grid-template-areas: "titulo-inicio" "leyenda-inicio" "boton-inicio";
}

.titulo-inicio {
	grid-area: titulo-inicio;
	align-self: center;
    font-size: 5rem;
}

.leyenda-inicio {
	grid-area: leyenda-inicio;
	color: $text-color;
	font-size: 1.75rem;
	text-align: center;
	max-width: 25.5rem;
}

.boton-inicio {
	grid-area: boton-inicio;
	background-image: $background-color_boton;
	color: $text-color;
	margin-top: 50%;
	font-size: 1.25rem;
	padding: 0.375rem 0.75rem;
	border: 0.08rem solid;
	border-radius: 1.9rem;
	border-color: $border-color;
	cursor: pointer;
	&:hover {
		color: $text-color-hover;
		box-shadow: 0 0.25rem 1rem $text-color-hover;
		transition: all 0.2s ease;
	}
}

.marca-img {
	width: 22%;
	aspect-ratio: 3/2;
	object-fit: contain;
	mix-blend-mode: color-burn;
}

.card-shadow {
	margin: 0 0.5em;
	box-shadow: 2px 6px 8px 0 $border-color;
	border: none;
	border-radius: 0;
}

.carousel-button {
	background-image: $background-color_boton;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 540px) {
	.imagen-inicio {
		background-position: top;
	}

    .titulo-inicio {
        font-size: 3.75rem;
        align-self: center;
    }

    .leyenda-inicio {
		max-width: 23rem;
        font-size: 1.56rem;
    }
}