.seccion-quienes-somos {
	margin-top: 60px;
	display: grid;
	grid-auto-flow: column dense;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: 0.4fr 2fr;
	gap: 0px 0px;
	grid-template-areas: "imagen titulo" "imagen leyenda";
    margin-bottom: 38px;
}

.quienes-somos-titulo {
	grid-area: titulo;
	justify-self: left;
	align-self: center;
}

.quienes-somos-leyenda {
	grid-area: leyenda;
	font-size: 18px;
	max-width: 700px;
	padding: 10px 15px;
	color: $text-color;
	border-radius: 24px;
	border: 2px solid rgb(132, 138, 144);
	background-color: $background-color_text_box;
	overflow: auto;
}

.quienes-somos-img {
	grid-area: imagen;
	justify-self: center;
	align-self: flex-end;
	border-radius: 24px;
	width: 400px;
	height: 408px;
	border: 2px solid rgb(132, 138, 144);
}

@media (max-width: 990px) {
	.seccion-quienes-somos {
		grid-template-columns: 1fr;
		grid-template-rows: 0fr 0.5fr 1fr;
		gap: 30px 0px;
		grid-template-areas: "titulo" "imagen" "leyenda";
	}

	.quienes-somos-titulo {
		justify-self: center;
	}

	.quienes-somos-leyenda {
		margin: 20px;
		justify-self: center;
		align-self: center;
	}
}

@media (max-width: 540px) {
    .quienes-somos-img {
        align-self: center;
    }
}