$text-color: white;
$text-color-hover: rgb(134, 140, 147);
$font-family_title: 'Oswald', sans-serif;
$font-family_text: 'Sono', sans-serif;
$background-color_body: rgb(187, 188, 195);
$background-color_boton: #6c757d;
$background-color_text_box: rgb(130, 130, 131);
$border-color: black;
$copyright-color: rgb(38, 40, 43);

@import "https://fonts.googleapis.com/css2?family=Oswald&family=Sono&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $background-color_body;
	position: relative;
	padding-bottom: 10em;
	min-height: 100vh;
}

h1 {
	text-align: center;
	color: $text-color;
	font-family: $font-family_title;
}

h2 {
	color: $text-color;
	margin-bottom: 10px;
	font-family: $font-family_title;
}

p {
	font-family: $font-family_text;
}

footer {
	box-shadow: 2px 1px 5px #000;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.coderhome-titulo {
	font-size: 80px;
}

.copyright {
    background-color: $copyright-color;
}

.logo-coderhome {
	width: 80px;
	height: 70px;
	margin: 10px;
	&:hover {
		color: $text-color;
		box-shadow: 0 4px 16px orange;
		transition: all 0.2s ease;
	}
}

.imagen-inicio {
	background-image: url(../assets/imagen-inicio.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.seccion-inicio {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: column;
	justify-items: center;
	grid-template-areas: "titulo-inicio" "leyenda-inicio" "boton-inicio";
}

.titulo-inicio {
	grid-area: titulo-inicio;
}

.leyenda-inicio {
	grid-area: leyenda-inicio;
	color: $text-color;
	font-size: 28px;
	text-align: center;
	max-width: 400px;
}

.boton-inicio {
	grid-area: boton-inicio;
	color: $text-color;
	margin-top: 50%;
	font-size: 20px;
	padding: 6px 12px;
	background-color: $background-color_boton;
	border: 1.5px solid;
	border-radius: 30px;
	border-color: $border-color;
	cursor: pointer;
	&:hover {
		color: $text-color;
		box-shadow: 0 4px 16px $text-color-hover;
		transition: all 0.2s ease;
	}
}

.navbar {
	box-shadow: 2px 1px 5px #000;
	.collapse {
			a {
				text-decoration: none;
				color: $text-color;
				font-size: 20px;
				margin-left: 20px;
				&:hover {
					color: $text-color-hover;
					font-size: 20px;
				}
			}
	}
}

.login {
	position:absolute;
	left: 90%;
	min-width: 150px;
}

.seccion-quienes-somos {
	margin-top: 60px;
	display: grid;
	grid-auto-flow: column dense;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: 0.4fr 2fr;
	gap: 0px 0px;
	grid-template-areas: "imagen titulo" "imagen leyenda";
    margin-bottom: 38px;
}

.quienes-somos-titulo {
	grid-area: titulo;
	justify-self: left;
	align-self: center;
}

.quienes-somos-leyenda {
	grid-area: leyenda;
	font-size: 18px;
	max-width: 700px;
	padding: 10px 15px;
	color: $text-color;
	border-radius: 24px;
	border: 2px solid rgb(132, 138, 144);
	background-color: $background-color_text_box;
	overflow: auto;
}

.quienes-somos-img {
	grid-area: imagen;
	justify-self: center;
	align-self: flex-end;
	border-radius: 24px;
	width: 400px;
	height: 408px;
	border: 2px solid rgb(132, 138, 144);
}

.boton-menu {
	color: $text-color;
	font-size: 46px;
	&:focus {
		outline: none;
	}
	&:hover {
		color: $text-color;
		box-shadow: 0 4px 16px $text-color-hover;
		transition: all 0.2s ease;
	}
}

.adjust-img {
	height: 360px;
}

.card-img-actions {
	span {
		filter: invert(50%);
	}
}

.success-icon {
	font-size: 5em;
}

@media (max-width: 1500px) {
	.login {
		left: 85%;
	}
}

@media (max-width: 990px) {
	header {
		position: sticky;
		z-index: 2;
		top: 0px;
	}

	.login {
		position: relative;
		left: 0;
		margin-top: 8px;
		margin-bottom: 10px;
		img {
			display: none;
		}
	}

	.seccion-quienes-somos {
		grid-template-columns: 1fr;
		grid-template-rows: 0fr 0.5fr 1fr;
		gap: 30px 0px;
		grid-template-areas: "titulo" "imagen" "leyenda";
	}

	.quienes-somos-titulo {
		justify-self: center;
	}

	.quienes-somos-leyenda {
		margin: 20px;
		justify-self: center;
		align-self: center;
	}
}

@media (max-width: 540px) {
	.seccion-inicio {
		margin-top: 100px;
	}

    .quienes-somos-img {
        align-self: center;
    }
}