$font-family_title: 'Oswald', sans-serif;
$font-family_text: 'Sono', sans-serif;
$text-color: white;
$text-color-hover: #f47c00;
$background-color_body: rgb(187, 188, 195);
$background-color_navbar: linear-gradient(to bottom, #004C98, #021E3A);
$background-color_boton: linear-gradient(to bottom, #004C98, #021E3A);
$background-color_footer: linear-gradient(to bottom, #004C98, #021E3A);
$border-color: #040500;

@import "https://fonts.googleapis.com/css2?family=Oswald&family=Sono&display=swap";
@import "header";
@import "footer";
@import "index";
@import "quienes-somos";
@import "productos";
@import "error-404";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $background-color_body;
	position: relative;
	padding-bottom: 10rem;
	min-height: 100vh;
}

h1 {
	text-align: center;
	color: $text-color;
	font-family: $font-family_title;
}

h2 {
	color: $text-color;
	margin-bottom: 1rem;
	font-family: $font-family_title;
}

p {
	font-family: $font-family_text;
}

.icon-size {
	font-size: 5rem;
}